<%- include('./includes/head.ejs') %>



  <form class="mt-5 mb-5 container p-4 shadow text-center d-flex align-items-center flex-column mt-3 rounded-5"
    action="/email/sendemail" method="post">


    <h3>Send email to: </h3>
    <input name="receiver" class="form-control w-50 mb-5" type="email">

    <h4>Email message :</h4>
    <input name="subject" class="form-control w-50 mb-5" type="text">

    <button type="submit" class="btn btn-success w-25">Send</button>

  </form>



<%- include('./includes/footer.ejs') %>